@include media-xs {
  .social-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .fab {
    font-size: 1rem !important;
  }
  .home__name {
    font-size: 4.5rem !important;
  }
  .my-description {
    margin-top: 2rem !important;
    height: 40px;
    font-size: 1rem;
  }
}

@include media-sm {
  .menu-bnt {
    visibility: visible;
  }

  .nav {
    display: none;
  }
}


@include media-md {
    .menu-btn {
      visibility: hidden;
    }
  
    .nav {
      visibility: visible;
  
      .menu-nav {
        display: block;
        transform: translateY(0);
        height: 100%;
        background: transparent;
        text-align: right;
  
        &__item {
          display: inline;
          padding-right: 1.5rem;
        }
  
        &__link {
          font-size: 1.5rem;
        }
      }
    }
  
    .about__bio {
      font-size: 1.5rem;
    }
  
    .projects {
      &__bio-image {
        height: 40vh;
      }
      &__items {
        grid-template-columns: repeat(2, 1fr);
      }
      .text-secondary {
        font-size: 3rem;
      }
    }
  
    .contact__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @include media-lg {
    .projects {
      &__items {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .contact__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @include media-xl {
    .projects__bio-image {
      height: 50vh;
    }
  }